<h1>My tasks</h1>

<hr/>

<h3><%= @task.title %></h3>

<%= link_to 'Update task', :edit_task %>

<div class="task-infos">

<p><%= @task.details %></p>
<p>Done ? <%= @task.completed==true %></p>
<p>Date: <%= @task.created_at %></p>

</div>

<hr/>

<%= link_to '< Back to tasks', :root %>